<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.BasketMapper">

    <resultMap id="basketDTO" type="com.mev.films.model.BasketDTO">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <association property="userDTO" resultMap="com.mev.films.mappers.interfaces.UserMapper.userDTO" columnPrefix="usr_"/>
    </resultMap>
    
    <select id="selectBaskets" resultMap="basketDTO">
        SELECT
            b.id AS id,
            b.time AS time,

            u.id AS usr_id,
            u.login AS usr_login
        FROM
            baskets AS b
            INNER JOIN users AS u ON b.user_id = u.id
    </select>

    <select id="selectBasket" parameterType="map" resultMap="basketDTO">
        SELECT
            b.id AS id,
            b.time AS time,

            u.id AS usr_id,
            u.login AS usr_login
        FROM
            baskets AS b
            INNER JOIN users AS u ON b.user_id = u.id
        WHERE
            b.id = #{0}
    </select>

    <select id="selectBasketByUser" parameterType="map" resultMap="basketDTO">
        SELECT
            b.id AS id,
            b.time AS time,

            u.id AS usr_id,
            u.login AS usr_login
        FROM
            baskets AS b
            INNER JOIN users AS u ON b.user_id = u.id
        WHERE
            u.id = #{0}
    </select>

    <insert id="insertBasket" parameterType="com.mev.films.model.BasketDTO">
        INSERT INTO
            baskets (user_id, time)
        VALUES
            (#{userDTO.id}, clock_timestamp())
    </insert>

    <delete id="deleteBasket" parameterType="map">
        DELETE FROM
            baskets
        WHERE
            id = #{0}
    </delete>

    <delete id="deleteBasketByUser" parameterType="map">
        DELETE FROM
            baskets
        WHERE
            user_id = #{0}
    </delete>

</mapper>