<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.DiscountMapper">

    <resultMap id="discountDTO" type="com.mev.films.model.DiscountDTO">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="value" column="value"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="selectsAll" resultMap="discountDTO">
        SELECT * FROM
            discounts
    </select>

    <select id="select" parameterType="map" resultMap="discountDTO">
        SELECT * FROM
            discounts
        WHERE
            id = #{0}
    </select>

    <select id="selectByCode" parameterType="map" resultMap="discountDTO">
        SELECT * FROM
            discounts
        WHERE
            code = #{0}
    </select>

    <insert id="insert" parameterType="com.mev.films.model.DiscountDTO">
        INSERT INTO
            discounts (code, value, time)
        VALUES (#{code}, #{value}, clock_timestamp())
    </insert>

    <update id="update" parameterType="com.mev.films.model.DiscountDTO">
        UPDATE discounts SET
            code = #{code},
            value = #{value},
            time = clock_timestamp()
        WHERE
            id = #{id}
    </update>

    <delete id="deleteByCode" parameterType="map">
        DELETE FROM
            discounts
        WHERE
            code = #{0}
    </delete>

    <delete id="delete" parameterType="map">
        DELETE FROM
            discounts
        WHERE
            id = #{0}
    </delete>
</mapper>
