<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.DiscountMapper">

    <resultMap id="discountDTO" type="com.mev.films.model.DiscountDTO">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
    </resultMap>

    <select id="selectDiscounts" resultMap="discountDTO">
        SELECT * FROM
            discounts
    </select>

    <select id="selectDiscount" parameterType="map" resultMap="discountDTO">
        SELECT * FROM
            discounts
        WHERE
            id = #{0}
    </select>

    <select id="selectDiscountByCode" parameterType="map" resultMap="discountDTO">
        SELECT * FROM
            discounts
        WHERE code = #{0}
    </select>

    <insert id="insertDiscount" parameterType="com.mev.films.model.DiscountDTO">
        INSERT INTO
            discounts (code, value)
        VALUES (#{code}, #{value})
    </insert>

    <update id="updateDiscount" parameterType="com.mev.films.model.DiscountDTO">
        UPDATE discounts SET
            code = #{code},
            value = #{value}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteDiscountByCode" parameterType="map">
        DELETE FROM
            discounts
        WHERE
            code = #{0}
    </delete>
</mapper>
