<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.FilmMapper">

    <resultMap id="filmDTO" type="com.mev.films.model.FilmDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="genre" column="genre"/>
        <result property="duration" column="duration"/>
        <result property="price" column="price"/>
        <result property="image" column="image"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="selectsAll" resultMap="filmDTO">
        SELECT * FROM films;
    </select>

    <select id="select" parameterType="map" resultMap="filmDTO">
        SELECT * FROM
            films
        WHERE
            id = #{0}
    </select>

    <select id="selectsSortByName" resultMap="filmDTO">
        SELECT * FROM films ORDER BY name;
    </select>

    <select id="selectsByName" parameterType="map" resultMap="filmDTO">
        SELECT * FROM
            films
        WHERE
            name = #{0}
    </select>

    <select id="selectByImage" parameterType="map" resultMap="filmDTO">
        SELECT * FROM
            films
        WHERE
            image = #{0}
    </select>

    <insert id="insert" parameterType="com.mev.films.model.FilmDTO">
        INSERT INTO
            films (name, genre, duration, price, image, time)
        VALUES (#{name}, #{genre}, #{duration}, #{price}, #{image}, clock_timestamp())
    </insert>

    <update id="update" parameterType="com.mev.films.model.FilmDTO">
        UPDATE
            films
        SET
            name = #{name},
            genre = #{genre},
            duration = #{duration},
            price = #{price},
            image = #{image},
            time = clock_timestamp()
        WHERE
            id = #{id}
    </update>

    <delete id="delete" parameterType="map">
        DELETE FROM
            films
        WHERE
            id = #{0}
    </delete>

    <delete id="deleteByImage" parameterType="map">
        DELETE FROM
            films
        WHERE
            image = #{0}
    </delete>
</mapper>