<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.OrderMapper">

    <resultMap id="orderDTO" type="com.mev.films.model.OrderDTO">
        <id property="id" column="id"/>
        <result property="priceByDiscount" column="priceByDiscount"/>
        <result property="mark" column="mark"/>
        <result property="time" column="time"/>
        <association property="basketDTO" resultMap="com.mev.films.mappers.interfaces.BasketMapper.basketDTO" columnPrefix="bsk_" />
        <association property="filmDTO" resultMap="com.mev.films.mappers.interfaces.FilmMapper.filmDTO" columnPrefix="flm_" />
        <association property="discountDTO" resultMap="com.mev.films.mappers.interfaces.DiscountMapper.discountDTO" columnPrefix="dsc_" />
    </resultMap>

    <select id="selectOrders" resultType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,
            o.price_by_discount AS priceByDiscount,

            b.id AS bsk_id,
            u.id AS bsk_usr_id,
            u.login AS bsk_usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN baskets AS b ON o.basket_id = b.id
            INNER JOIN users AS u ON b.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        LIMIT #{0}
        OFFSET #{1}
    </select>

    <select id="selectOrdersCount" resultType="long">
        SELECT count(id) FROM orders
    </select>

    <select id="selectOrder" parameterType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,
            o.price_by_discount AS priceByDiscount,

            b.id AS bsk_id,
            u.id AS bsk_usr_id,
            u.login AS bsk_usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN baskets AS b ON o.basket_id = b.id
            INNER JOIN users AS u ON b.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        WHERE
            o.id = #{0}
    </select>

    <select id="selectOrdersByBasket" parameterType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,
            o.price_by_discount AS priceByDiscount,

            b.id AS bsk_id,
            u.id AS bsk_usr_id,
            u.login AS bsk_usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN baskets AS b ON o.basket_id = b.id
            INNER JOIN users AS u ON b.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        WHERE
            o.basket_id = #{0}
    </select>

    <select id="selectOrderByBasketIsMark" parameterType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,
            o.price_by_discount AS priceByDiscount,

            b.id AS bsk_id,
            u.id AS bsk_usr_id,
            u.login AS bsk_usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN baskets AS b ON o.basket_id = b.id
            INNER JOIN users AS u ON b.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        WHERE
            o.basket_id = #{0}
            AND
            o.mark = TRUE
    </select>

    <insert id="insertOrder" parameterType="com.mev.films.model.OrderDTO">
        INSERT INTO
            orders (basket_id, film_id, discount_id, price_by_discount, mark, time)
        VALUES
            (#{basketDTO.id}, #{filmDTO.id}, #{discountDTO.id}, #{priceByDiscount}, #{mark}, clock_timestamp())
    </insert>

    <delete id="deleteOrder" parameterType="map">
        DELETE FROM
            orders
        WHERE
            id = #{0}
    </delete>

    <delete id="deleteOrderByBasket" parameterType="map">
        DELETE FROM
            orders
        WHERE
            basket_id = #{0}
    </delete>

</mapper>