<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.OrderMapper">

    <resultMap id="orderDTO" type="com.mev.films.model.OrderDTO">
        <id property="id" column="id"/>
        <result property="mark" column="mark"/>
        <result property="time" column="time"/>
        <association property="userDTO" resultMap="com.mev.films.mappers.interfaces.UserMapper.userDTO" columnPrefix="usr_" />
        <association property="filmDTO" resultMap="com.mev.films.mappers.interfaces.FilmMapper.filmDTO" columnPrefix="flm_" />
        <association property="discountDTO" resultMap="com.mev.films.mappers.interfaces.DiscountMapper.discountDTO" columnPrefix="dsc_" />
    </resultMap>

    <select id="selectOrders" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,

            u.id AS usr_id,
            u.login AS usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN users AS u ON o.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
    </select>

    <select id="selectOrder" parameterType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,

            u.id AS usr_id,
            u.login AS usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN users AS u ON o.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        WHERE
            o.id = #{0}
    </select>

    <select id="selectOrderByUser" parameterType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,

            u.id AS usr_id,
            u.login AS usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN users AS u ON o.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        WHERE
            o.user_id = #{0}
    </select>

    <select id="selectOrderByUserIsMark" parameterType="map" resultMap="orderDTO">
        SELECT
            o.id AS id,
            o.mark AS mark,
            o.time AS time,

            u.id AS usr_id,
            u.login AS usr_login,

            f.id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.price AS flm_price,
            f.duration AS flm_duration,
            f.image AS flm_image,

            d.id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            orders AS o
            INNER JOIN users AS u ON o.user_id = u.id
            INNER JOIN films AS f ON o.film_id = f.id
            LEFT JOIN discounts AS d ON o.discount_id = d.id
        WHERE
            o.user_id = #{0} AND
                o.mark = TRUE
    </select>

    <insert id="insertOrder" parameterType="com.mev.films.model.OrderDTO">
        INSERT INTO
            orders (user_id, film_id, discount_id, mark, time)
        VALUES
            (#{userDTO.id}, #{filmDTO.id}, #{discountDTO.id}, #{mark}, clock_timestamp())
    </insert>

    <delete id="deleteOrder" parameterType="map">
        DELETE FROM
            orders
        WHERE
            id = #{0}
    </delete>

    <delete id="deleteOrderByUser" parameterType="map">
        DELETE FROM
            orders
        WHERE
            user_id = #{0}
    </delete>

</mapper>