<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.PaymentMapper">

    <resultMap id="paymentDTO" type="com.mev.films.model.PaymentDTO">
        <id property="id" column="id"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="time" column="time"/>
        <association property="userDTO" resultMap="com.mev.films.mappers.interfaces.UserMapper.userDTO" columnPrefix="usr_"/>
        <association property="filmDTO" resultMap="com.mev.films.mappers.interfaces.FilmMapper.filmDTO" columnPrefix="flm_"/>
        <association property="discountDTO" resultMap="com.mev.films.mappers.interfaces.DiscountMapper.discountDTO" columnPrefix="dsc_"/>
    </resultMap>

    <resultMap id="paymentStatDTO" type="com.mev.films.model.PaymentStatDTO">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="selectAll" resultMap="paymentDTO">
        SELECT
            p.id AS id,
            p.time AS time,
            p.total_price AS totalPrice,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
    </select>

    <select id="selects" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id AS id,
            p.time AS time,
            p.total_price AS totalPrice,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        LIMIT #{0}
        OFFSET #{1}
    </select>

    <select id="selectCount" resultType="long">
        SELECT count(id) FROM payments;
    </select>

    <select id="selectsByUser" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id AS id,
            p.time AS time,
            p.total_price AS totalPrice,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        WHERE
            p.user_id = #{0}
    </select>

    <select id="selectsByFilm" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id AS id,
            p.time AS time,
            p.total_price AS totalPrice,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        WHERE
            p.film_id = #{0}
    </select>

    <select id="select" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id AS id,
            p.time AS time,
            p.total_price AS totalPrice,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        WHERE
            p.id = #{0}
    </select>

    <select id="selectUsersPayingAboveMedianForLastMonth" parameterType="map" resultMap="paymentStatDTO">
        SELECT
            u2.id AS id,
            u2.login AS userName,
            avg(purchase) AS price
        FROM
            users AS u2
            INNER JOIN (
                SELECT
                    u.id,
                    p.time,
                    sum(p.total_price) AS purchase
                FROM
                    users as u
                    INNER JOIN payments AS p ON u.id = p.user_id
                WHERE
                    extract(YEAR FROM p.time) = #{0} AND
                    extract(MONTH FROM p.time) = #{1}
                GROUP BY
                    u.id, p.time
            ) AS p2 ON u2.id = p2.id
        GROUP BY
            u2.id, u2.login
        HAVING
            avg(purchase) > (SELECT
                                  avg(payments.total_price)
                              FROM
                                  payments
                              WHERE
                                  extract(YEAR FROM time) = #{0} AND
                                  extract(MONTH FROM time) = #{1}
                            )
        ORDER BY
            price DESC
    </select>

    <select id="selectsSortByUsersOrders" resultMap="paymentDTO">
        SELECT
            p.id AS id,
            p.time AS time,
            p.total_price AS totalPrice,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.image AS flm_image
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
        ORDER BY
            u.login, f.name, p.time
    </select>

    <select id="selectsTop5Orders" resultMap="paymentStatDTO">
        SELECT
            u2.id AS id,
            u2.login AS userName,
            sum(purchase) AS price
        FROM
            users AS u2
            INNER JOIN (
                SELECT
                    u.id,
                    sum(p.total_price) AS purchase
                FROM
                    payments AS p
                    INNER JOIN users AS u ON p.user_id = u.id
                GROUP BY
                    u.id, u.login
            ) AS p2 ON p2.id = u2.id
        GROUP BY
            u2.id, u2.login
        ORDER BY
            price DESC
        LIMIT 5
    </select>

    <select id="selectsAveragePriceDayPurchases" parameterType="map" resultType="long">
        select
            avg(user_day_purchase) as price
        from
            users as u2
            INNER JOIN (
                           select
                               u.id,
                               sum(p.total_price) as user_day_purchase
                           from
                               users as u
                               INNER JOIN payments as p on u.id = p.user_id
                           where
                               extract(year from p.time) = #{0} AND
                               extract(month from p.time) = #{1} AND
                               extract(day from p.time) = #{2}
                           group by
                               u.id
                       ) as p2 on p2.id = u2.id
    </select>

    <insert id="insert" parameterType="com.mev.films.model.PaymentDTO">
        INSERT INTO
            payments (user_id, film_id, discount_id, total_price, time)
        VALUES (#{userDTO.id}, #{filmDTO.id}, #{discountDTO.id}, #{totalPrice}, #{time});
    </insert>

    <delete id="delete" parameterType="map">
        DELETE FROM
            "films_test".public.payments
        WHERE
            id = #{0}
    </delete>
</mapper>