<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.PaymentMapper">

    <resultMap id="paymentDTO" type="com.mev.films.model.PaymentDTO">
        <id property="id" column="id"/>
        <result property="time" column="time"/>
        <association property="userDTO" resultMap="com.mev.films.mappers.interfaces.UserMapper.userDTO" columnPrefix="usr_"/>
        <association property="filmDTO" resultMap="com.mev.films.mappers.interfaces.FilmMapper.filmDTO" columnPrefix="flm_"/>
        <association property="discountDTO" resultMap="com.mev.films.mappers.interfaces.DiscountMapper.discountDTO" columnPrefix="dsc_"/>
    </resultMap>

    <select id="selectPayments" resultMap="paymentDTO">
        SELECT
            p.id as id,
            p.time as time,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
    </select>

    <select id="selectPaymentsByUser" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id as id,
            p.time as time,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        WHERE
            p.user_id = #{0}
    </select>

    <select id="selectPaymentsByFilm" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id as id,
            p.time as time,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        WHERE
            p.film_id = #{0}
    </select>

    <select id="selectPayment" parameterType="map" resultMap="paymentDTO">
        SELECT
            p.id as id,
            p.time as time,

            p.user_id AS usr_id,
            u.login AS usr_login,

            p.film_id AS flm_id,
            f.name AS flm_name,
            f.genre AS flm_genre,
            f.duration AS flm_duration,
            f.price AS flm_price,
            f.image AS flm_image,

            p.discount_id AS dsc_id,
            d.code AS dsc_code,
            d.value AS dsc_value
        FROM
            payments AS p
            INNER JOIN users AS u ON p.user_id = u.id
            INNER JOIN films AS f ON p.film_id = f.id
            LEFT JOIN discounts AS d ON p.discount_id = d.id
        WHERE
            p.id = #{0}
    </select>

    <insert id="insertPayment" parameterType="com.mev.films.model.PaymentDTO">
        INSERT INTO
            payments (user_id, film_id, discount_id, time)
        VALUES (#{userDTO.id}, #{filmDTO.id}, #{discountDTO.id}, clock_timestamp());
    </insert>

    <delete id="deletePayment" parameterType="map">
        DELETE FROM
            "postgres-test".public.payments
        WHERE
            id = #{0}
    </delete>
</mapper>