<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.UserRoleMapper">

    <resultMap id="userRoleDTO" type="com.mev.films.model.UserRoleDTO">
        <id property="id" column="id"/>
        <result property="login" column="login"/>
        <result property="role" column="role"/>
        <result property="time" column="time"/>
    </resultMap>

    <select id="selectsAll" resultMap="userRoleDTO">
        SELECT * FROM
            user_roles
    </select>

    <select id="selects" parameterType="map" resultMap="userRoleDTO">
        SELECT * FROM
            user_roles
        LIMIT #{0}
        OFFSET #{1}
    </select>

    <select id="selectsCount" resultType="long">
        SELECT count(id) FROM user_roles
    </select>

    <select id="select" parameterType="map" resultMap="userRoleDTO">
        SELECT * FROM
            user_roles
        WHERE
            id = #{0}
    </select>

    <select id="selectByLogin" parameterType="map" resultMap="userRoleDTO">
        SELECT * FROM
            user_roles
        WHERE
            login = #{0}
    </select>

    <insert id="insert" parameterType="com.mev.films.model.UserRoleDTO">
        INSERT INTO
            user_roles (login, role, time)
                VALUES (#{login}, #{role}, clock_timestamp())
    </insert>

    <update id="update" parameterType="com.mev.films.model.UserRoleDTO">
        UPDATE
            user_roles
        SET
            role = #{role},
            time = clock_timestamp()
        WHERE
            id = #{id}
    </update>
</mapper>