<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mev.films.mappers.interfaces.UserMapper">

    <resultMap id="userDTO" type="com.mev.films.model.UserDTO">
        <id property="id" column="id"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>
    </resultMap>

    <select id="selectUsers" resultMap="userDTO">
        SELECT * FROM users;
    </select>

    <select id="selectUsersIdLogin" resultMap="userDTO">
        SELECT id,login FROM users;
    </select>

    <select id="selectUsersSortByLogin" resultMap="userDTO">
        SELECT * FROM users ORDER BY login;
    </select>

    <select id="selectUserByLogin" parameterType="map" resultMap="userDTO">
        SELECT * FROM users
        WHERE
            users.login=#{0};
    </select>

    <insert id="insertUser" parameterType="map">
        INSERT INTO
            users (login, password, enabled)
        VALUES (#{0.login}, #{0.password}, #{0.enabled});
        INSERT INTO
            user_roles (login, role)
        VALUES (#{1.login}, #{1.role})
    </insert>

    <update id="updateUser" parameterType="com.mev.films.model.UserDTO">
        UPDATE
            users
        SET
            password = #{password},
            enabled = #{enabled}
        WHERE
            id = #{id};
    </update>

    <delete id="deleteUser" parameterType="map">
        DELETE FROM
            user_roles
        WHERE
            id = #{0};
        DELETE FROM
            users
        WHERE
            id = #{0}
    </delete>

    <delete id="deleteUserByName" parameterType="map">
        DELETE FROM
            user_roles
        WHERE
            login = #{0};
        DELETE FROM
            users
        WHERE
            login = #{0}
    </delete>

</mapper>